NEXT_PUBLIC_BASE_CONTRACT_ADDRESS=0xYourBaseContractAddress
NEXT_PUBLIC_PROPOSED_CONTRACT_ADDRESS=0xYourProposedContractAddress
NEXT_PUBLIC_DEMO_CHAIN_ID=11155111
NEXT_PUBLIC_DEMO_CHAIN_NAME=Sepolia

FILEBASE_RPC_API_KEY=your_filebase_bucket_scoped_rpc_api_key
